x-simulation-base: &simulation-base
  image: simulation:latest
  build:
      context: .
      dockerfile: docker/Dockerfile
      target: dev
  volumes:
    - .:/sim/controller
  stdin_open: true
  tty: true
  environment:
    TZ: ${TZ:-Europe/Rome}
    PYNEST_QUIET: 0
  ports:
  # Map host port 5901 (localhost only) to container port 5901 (VNC display :1)
  - "127.0.0.1:5901:5901"
  working_dir: /sim/controller

services:
  development:
    <<: *simulation-base
    image: simulation:dev
    command: bash

  simulation-music:
    <<: *simulation-base
    image: simulation:music
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: hpc
    command: mpirun -np 4 music /sim/controller/complete_control/complete.music

  simulation-nrp:
    <<: *simulation-base
    image: simulation:nrp
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: hpc
    command: sh -c "export EXEC_TIMESTAMP=$(date +%Y%m%d_%H%M%S) && NRPCoreSim -c /sim/controller/nrp_simulation_config_nest_docker_compose.json --cloglevel debug --logdir /home/simuser/logs"
    # depends_on:
    #   - nest-server
