services:

  simulation-music:
    image: simulation:latest
    volumes:
      # Bind mount the current host directory (.) into /sim/controller
      - .:/sim/controller
    stdin_open: true
    tty: true
    environment:
      TZ: ${TZ:-Europe/Rome}
      VNC_PASSWORD: ${VNC_PASSWORD} # this is not a secret.
      NEST_MODE: "normal"
    working_dir: /sim/controller/complete_control
    ports:
      # Map host port 5901 (localhost only) to container port 5901 (VNC display :1)
      - "127.0.0.1:5901:5901"
      - 9000:9000
    # If you want to run a specific script, use 'docker-compose run simulation python your_script.py'
    command: mpirun -np 4 music complete.music

  simulation-nrp:
    image: simulation:latest
    volumes:
      - ./:/sim/controller
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ~/.Xauthority:/root/.Xauthority
    stdin_open: true
    command: sh -c "export EXEC_TIMESTAMP=$(date +%Y%m%d_%H%M%S) && NRPCoreSim -c /sim/controller/nrp_simulation_config_nest_docker_compose.json --cloglevel debug --logdir /home/simuser/logs"
    working_dir: /sim/controller
    # depends_on:
    #   - nest-server
    environment:
      DISPLAY: $DISPLAY
      TZ: ${TZ:-Europe/Rome}
      PYNEST_QUIET: 0

volumes:
  nrp_sim_shared_data:
  nrp_nest_module_path: