services:
  simulation:
    image: simulation:latest
    build:
      context: .
      dockerfile: docker/Dockerfile
      target: dev
      # The entrypoint script handles the runtime matching regardless.
      args:
        # expect there to be either a .env or suitable env vars
        USER_UID: ${UID:-1000}
        USER_GID: ${GID:-1000}
    volumes:
      # Bind mount the current host directory (.) into /sim/controller
      - .:/sim/controller
    stdin_open: true
    tty: true
    environment:
      TZ: ${TZ:-Europe/Rome}
      VNC_PASSWORD: ${VNC_PASSWORD} # this is not a secret.
      NEST_MODE: "normal"
    ports:
      # Map host port 5901 (localhost only) to container port 5901 (VNC display :1)
      - "127.0.0.1:5901:5901"
      - 9000:9000
    # If you want to run a specific script, use 'docker-compose run simulation python your_script.py'
    command: bash
