services:
  # nest-server:
  #   image: simulation:latest
  #   build:
  #     context: .
  #     dockerfile: docker/Dockerfile
  #     target: dev
  #     # The entrypoint script handles the runtime matching regardless.
  #     args:
  #       # expect there to be either a .env or suitable env vars
  #       USER_UID: ${UID}
  #       USER_GID: ${GID}
  #   volumes:
  #     # Named volume for the virtual environment persistence
  #     # - nrp_sim_venv:/sim/venv
  #     # Named volume for persistent simulation data (compiled network, trajectory.txt...)
  #     - nrp_sim_shared_data:/sim/shared_data
  #     # Named volume for nest modules (so that user-generated ones are persisted)
  #     - nrp_nest_module_path:/sim/install/nest/lib/nest/
  #     # Bind mount the current host directory (.) into /sim/controller
  #     - .:/sim/controller
  #   stdin_open: true
  #   tty: true
  #   environment:
  #     TZ: ${TZ:-Europe/Rome}
  #     VNC_PASSWORD: ${VNC_PASSWORD} # this is not a secret.
  #     NEST_MODE: "nest-server"
  #     NEST_SERVER_MODULES: 'import nest; import numpy; import os; import json; import sys'
  #     PYNEST_QUIET: 0
  #     NEST_SERVER_STDOUT: 0
  #   ports:
  #     # Map host port 5901 (localhost only) to container port 5901 (VNC display :1)
  #     - "127.0.0.1:5902:5901"
  #     - 9001:9000 # nest-server port
  #   # If you want to run a specific script, use 'docker-compose run simulation python your_script.py'
  #   command: bash
  #   working_dir: /sim/controller

  nrp-core-service:
    image: simulation:latest
    build:
      context: .
      dockerfile: docker/Dockerfile
    volumes:
      - ./:/sim/controller
      - /tmp/.X11-unix:/tmp/.X11-unix
      - ~/.Xauthority:/root/.Xauthority
    stdin_open: true
    command: sh -c "export EXEC_TIMESTAMP=$(date +%Y%m%d_%H%M%S) && NRPCoreSim -c /sim/controller/nrp_simulation_config_nest_docker_compose.json --cloglevel debug --logdir /home/simuser/logs"
    working_dir: /sim/controller
    # depends_on:
    #   - nest-server
    environment:
      DISPLAY: $DISPLAY
      TZ: ${TZ:-Europe/Rome}
      PYNEST_QUIET: 0

volumes:
  nrp_sim_shared_data:
  nrp_nest_module_path: