services:

    nest-server:
        image: nest/nest-simulator:dev
        volumes:
            - ./:/experiment
        environment:
            NEST_CONTAINER_MODE: "nest-server"
            NEST_SERVER_BUFFER_SIZE: 65535
            NEST_SERVER_HOST: "0.0.0.0"
            NEST_SERVER_MODULES: 'import nest; import numpy; import os; import json; import sys'
            NEST_SERVER_PORT: 9000
            NEST_SERVER_RESTRICTION_OFF: 1
            NEST_SERVER_ENABLE_EXEC_CALL: 1
            NEST_SERVER_DISABLE_AUTH: 1
            NEST_SERVER_DISABLE_RESTRICTION: 1
            NEST_SERVER_STDOUT: 1
        container_name: nrp-nest-simulator
        working_dir: /experiment
        # logging:
        #     driver: none

    nrp-core-service:
        image: nrp-pybullet-ubuntu20:latest
        build:
            context: .
            dockerfile: docker/bullet_muscle_sim.Dockerfile
        volumes:
            - ./:/experiment
            - /tmp/.X11-unix:/tmp/.X11-unix
            - ~/.Xauthority:/root/.Xauthority
        command: NRPCoreSim -c /experiment/nrp_simulation_config_nest_docker_compose.json --floglevel debug
        # tty: true
        depends_on:
            - nest-server
        environment:
            DISPLAY: $DISPLAY
        container_name: nrp-core
