bsb
bsb-nest
# extras
pandas
scipy
numpy
plotly
matplotlib
pybullet
structlog
pydantic
Pillow
cairosvg
jupyter
ffmpeg
ffmpeg-python
# nest-server:
Flask
flask-cors
gunicorn
requests
RestrictedPython
h5py