# manually copied from cerebellum deps (cerebellum/pyproject.toml):
# because can't include cerebellum in the docker build
# (installing it as pip install -e => not available until volume is mounted at runtime)
bsb~=6.0.0
bsb-nest~=6.0.0
# extras
# README: if you're editing this file, run `docker compose down -v` to remove all containers
# read INSTALL.md for more info
pandas~=2.2.3
scipy~=1.15.2
numpy~=1.26.4
plotly~=6.0.1
matplotlib~=3.9
pybullet==3.2.7
structlog~=25.3.0
pydantic~=2.11